@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --background: #6E5C62;
    --text-color: #FFFFFF; 
    --dark-gray: #615458; 
    --dark-brown: #4C4347; 
    --wrong-letter:#312A2C; 
    --right-place: #3AA394;
    --wrong-place: #D3AD69; 

}

body {
    background-color: var(--background);
    font-family: "Mitr", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* ---- Navbar ---- */
.navbar {
    margin-bottom: 2rem;
    padding: .75rem 0;
    display: flex;
    justify-content: center;
}

.navbar h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--text-color);
}


.gameFeedback {
    background-color: var(--right-place);
    color: var(--text-color);
    font-size: .95rem;
    padding: .1rem .85rem;
    border-radius: 5px;
    position: absolute;
    top: 3.2rem;

}

/* ---- Guesses Grid ---- */
.guessesGridContainer {
    margin-bottom: 2rem;
}
.guessesGridContainer__row {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(5, 3em);
    height: 3em;
    font-size: 1rem;

    grid-gap: 5px;
}

.guessesGridContainer__box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1em; 

    transition: all 500ms ease-in-out;
}

.currentWord {
    border: 5px solid var(--dark-brown);
    border-radius: 5px; 
}

.edit {
    border-bottom: 8px solid var(--dark-brown) !important;
}

.empty {
    background-color: var(--dark-brown);
    border: 5px solid var(--dark-brown);
    border-radius: 5px; 
}

.right {
    background-color: var(--right-place) !important;
    border: 5px solid var(--right-place);
    border-radius: 5px;
}

.place {
    background-color: var(--wrong-place);
    border: 5px solid var(--wrong-place);
    border-radius: 5px;
}

.wrong {
    background-color: var(--wrong-letter);
    border: 5px solid var(--wrong-letter);
    border-radius: 5px;
}


/* ---- Keyboard ---- */

.keyboardContainer {
    padding: 1rem;
    height: min(100em/2.15,25vh);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 3px;
}

.keyboardContainer__Key {
    background-color: var(--dark-brown);
    color: var(--text-color);
    padding: .5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.keyboardContainer__Key:hover {
    opacity: .8;
}

#key_enter {
    width: auto;
    grid-column: span 3;
    border-radius: 8px;
    margin-left: 1rem;
}